[submodule "generative_cartoons"]
	path = generative_cartoons
	url = https://github.com/clayheaton/generative_cartoons.git
[submodule "p5jsTiler"]
	path = p5jsTiler
	url = https://github.com/clayheaton/p5jsTiler.git
[submodule "jimmy_is_sick"]
        path = jimmy_is_sick
        url = https://github.com/clayheaton/p5js_jerry_is_sick.git
